# Cartopy==0.12.x
# Iris==1.8.0-DEV
Biggus==0.7.0
Cython==0.21
Fiona==1.3.0
GDAL==1.10.0
Jinja2==2.7.3
OWSLib==0.8.8
Pillow==2.5.3
Shapely==1.4.0
folium==0.1.2
ipython[notebook]==2.2.0
lxml==3.4.0
matplotlib==1.4.0
netCDF4==1.1.1
numpy==1.9.0
oceans==0.2.2
pandas==0.14.1
pyke==1.1.1
pyoos==0.6.2
pyshp==1.2.1
python-dateutil==2.2
pytz==2014.7
requests==2.4.1
scipy==0.14.0
vincent==0.4.4
